<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Application messages -->
		<add key="ExitMsg" value="Exit the DNA Extraction Module?"/>
		<add key="ResetMsg" value="Are you sure you want to reset?"/>

		<!-- 1D Scan messages -->
		<add key="InvalidDeepWell" value="Invalid Deep Well ID" />
		<add key="RepeatDeepWellID" value="Repeat Deep Well ID" />
		<add key="DeepWellScanSuccess" value="Deep Well scan successful" />
		<add key="DeepWellPositionsMsg" value="Deep well positions currently filled:"/>
		<add key="Ready1DScan" value="Ready to scan deep well plate..." />
		<add key="InvalidRackID" value="Invalid Rack ID"/>
    <add key="Ready2DScan" value="Ready to scan buffy coat rack..."/>
    <add key="Success2DScan" value="Buffy coat rack scan successful.  "/>



    <!-- Scanner messages -->
		<add key="PrepareScan" value="Preparing to scan..."/>
		<add key="RackNotPresent" value="Rack not present..."/>
		<add key="RackNotOriented" value="Rack not oriented correctly..."/>
		<add key="Scanning" value="Scanning 2D buffy coat rack..."/>
		<add key="WaitingForResults" value="Waiting for results..."/>
		<add key="FatalError" value="Fatal Error, please restart application"/>
		<add key="ScannerError" value="Scanner Error... Resetting"/>
		<add key="ScannerDisconnected" value="Hardware Scanner Server has been disconnected.  Please restart Server and Laminar Flow Hood Module."/>
		<add key="TwoDScanCanelledText" value="Last scan cancelled"/>
		<add key="ScannerMissing" value="Hardware Scanner Server is not running"/>
		<add key="TwoDScanError" value="Error(s) encountered in 2D Scan"/>
		<add key="WellAliquotConflict" value="Well Aliquot Conflict at location {0}"/>

		<!-- Scanner configuration -->
		<add key="ScannerSleep" value="2000"/>
		<add key="RackNotPresentSleep" value="2000"/>
		<add key="ScannerScanSleep" value="500"/>
		<add key="FixRackSleep" value="0"/>
		<add key ="BioseroTrayName" value ="thermo"/>
		<add key="MVP_RackType" value="M0812"/>

		<!-- Misc options -->
		<add key="ErrorLog" value="error_log.txt"/>
		<add key="1DRegex" value="^[A-z0-9]{13}$" />
		<add key="PlateFilledThreshold" value="50"/>
		<add key="PlateMaxSize" value="96"/>

    <!-- Database settings -->
		<add key="DataSource" value="sqldevv1"/>
		<add key="InitialCatalog" value="Maveric"/>
		<!-- Username/password required if TrustedConnection is false -->
		<add key="UserName" value="mavericuser"/>
		<add key="Password" value="RT40Rm4rTTM="/>
		<add key="TrustedConnection" value="false"/>

		<!-- Environement Settings -->
		<!-- Valid scanner settings are BIOSERO or THERMOFISHER -->
		<add key="Scanner" value="BIOSERO"/>
		<add key="2dScannerHostname" value="localhost"/>
		<add key="2dScannerPort" value="8000"/>
		<!-- Valid settings are TEST, INT and PROD -->
		<add key="mode" value="TEST"/>
		
		<!-- Biomek communication paths -->
		<add key="BiomekInputFile" value="C:\biomek\input\biomekInput.csv"/>
		<add key="BiomekFirstProtocolOutputPath" value="C:\biomek\output\first\"/>
		<add key="BiomekSecondProtocolOutputPath" value="C:\biomek\output\second"/>
		<add key="BiomekFirstProtocolOutputBackupPath" value="C:\biomek\output\firstbackup"/>
		<add key="BiomekSecondProtocolOutputBackupPath" value="C:\biomek\output\second\backup"/>

		<!-- Biomek error message -->
		<add key="FirstProtocolPathNotExist" value="The output directory for the First Protocol does not exist. No output will be detected."/>
		<add key="SecondProtocolPathNotExist" value="The output directory for the Second Protocol does not exist. No output will be detected."/>
		<add key="CannotCreateBackupDir" value="Cannot create a backup directory at {0}. Protocol output cannot be processed until this is fixed."/>
		
		<!-- Database exception error messages -->
		<add key="DatabaseMissing" value="Can't connect to database! Please exit the application."/>
		<add key="ExecuteNonQuery_SqlException" value="Error occured while saving to the database"/>
		<add key="ExecuteScalar_SqlException" value="Error occured while reading from the database"/>
		<add key="InvalidOperationException" value="Error communicating with the database"/>
		<add key="BadPassword" value="Unable to connect to database; Bad password"/>
		<add key="FileDoesNotExist" value="File does not exist"/>
	</appSettings>
</configuration>